

.outlineBorder {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #bcbcbc;
    border-radius: 15px;
    height: 568px;
    width: 500px;
    margin: auto;
    vertical-align: middle;

}

.signIn{
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  padding-top: 17%;
}

.with{
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 7%;
}

.TextField{
    max-width: fit-content;
    margin:auto;
    padding:1%;
}
.textfield{
    width: 325px;
}

.forgotPassword {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    width: 170px;
    display: block;
    text-transform: none;
    padding-top: 3%;
    margin-left: 17%;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.register {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    width: 151px;
    margin-left: 17%;
    margin-right: 24%;
}

.registerauthenticate{
    margin-top: 10%;
}

.auth{
    background-color: #000000;
    border-radius: 5px;
    height: 45px;
    width: 153px;
    color:white;
}

.auth:hover{
    background-color: gray;
}

.register:hover{
    color:gray;
    text-decoration: underline;
}


.successOutlineBorder{
    background-color: #ffffff;
    border: 2px solid;
    border-color: lightgreen;
    border-radius: 15px;
    height: 568px;
    width: 500px;
    margin: auto;
    color:lightgreen;
    text-align: center;
    display:block;
    font-size: 40px;
    font-family: "Roboto-Regular", Helvetica;
    padding-top: 45%;
}

.failureOutlineBorder{
    background-color: #ffffff;
    border: 2px solid;
    border-color: red;
    border-radius: 15px;
    height: 568px;
    width: 500px;
    margin: auto;
    color:red;
    text-align: center;
    display:block;
    font-size: 40px;
    font-family: "Roboto-Regular", Helvetica;
    padding-top: 35%;
}


.instructionPopup{
    border-radius: 22px;
    border: 1px solid #000;
    background: #FFF;
    position: absolute;
    top:10%;
    left:10%;
    width:80%;
    height: 70%;
    text-align: center;
    min-width: min-content;
    min-height: min-content;
}

.instructions{
    padding-top: 5%;
}

ul{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-left: 10%;
    margin-bottom: 5%;

}
li{
    padding:2% 2% 2% 2%;
    margin-left: 7%;
    list-style: circle;
}
.instructionHead{
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 5%;

}

.instructionButton{
    background-color: #000000;
    color:white;
    

}
.instructionButton:hover{
    background-color: gray;
}


.Processing{
    background-color: #ffffff;
    border: 2px solid;
    border-color: gray;
    border-radius: 15px;
    height: 568px;
    width: 500px;
    color:gray;
    text-align: center;
    position: absolute;
    font-size: 40px;
    font-family: "Roboto-Regular", Helvetica;
    top:10%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
 
}